.route-home {
//     .outer-wrap outer-wrap-main {
    //         .inner-wrap inner-wrap-main {
        
//         }
//     }

    main {
        .topusers {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 20px;
            color: #fff;

            a {
                text-decoration: unset;
                border-radius: 20px;
            }

            .topuser {
                color: #fff;
                text-align-last: center;
            }

            a:nth-child(1n){
                background-color: #e91e63;
            }
        
            a:nth-child(1n):hover{
                background-color: #c2185b;
            }
        
            a:nth-child(2n){
                background-color: #9c27b0;
            }
            
            a:nth-child(2n):hover{
                background-color: #7b1fa2;
            }
            
            a:nth-child(3n){
                background-color: #673ab7;
            }
        
            a:nth-child(3n):hover{
                background-color: #512da8;
            }
            
            a:nth-child(4n){
                background-color: #2196f3;
            }
            
            a:nth-child(4n):hover{
                background-color: #1976d2;
            }
        }

    }
}
